.layout {
  min-height: 100vh;
}

.content {
  padding: 0 48px;
  max-width: 1500px;
  margin: 0 auto;
  width: 100%;

  @media (max-width: 820px) {
    padding: 0 16px;
  }

  @media (max-width: 420px) {
    padding: 0 4px;
  }
}

.contentInner {
  min-height: 280px;
  padding: 24px;

  @media (max-width: 820px) {
    padding: 12px;
  }

  @media (max-width: 420px) {
    padding: 8px;
  }
}
