.dragHandle {
  font-size: 20px;
  color: #888;
  cursor: grab;
  margin-left: 8px;
  padding: 0 8px;
  user-select: none;
  transition: color 0.2s;
}
.dragHandle:active {
  cursor: grabbing;
  color: #1890ff;
}

.listEditor {
  padding: 16px;
  display: flex;
  flex: 1 1 75%;
}

.itemRow {
  background: #f7f7f7;
  border-radius: 4px;
  padding: 8px;
  align-items: stretch;
}
.itemText {
  flex: 1;
  font-size: 16px;
  word-break: break-word;
  white-space: pre-line;
}

.itemRow.activeItem {
  background: #e6f7ff;
  border: 1px solid #1890ff;
}

.selectionMode {
  cursor: pointer;
}

.itemRow.selectedItem,
.itemRow.activeItem.selectedItem {
  background: rgb(19 202 255);
  border: 1px solid #1890ff;
}

.itemRow.selectionMode {
  border: 1px solid #1890ff;
}
